.vscode/**
.vscode-test/**
.translation-cache/**
.git/**
src/**
plans/**
scripts/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsbuildinfo
**/*.md
!README.md
**/test/**
